body {
  margin: 0;
  padding: 0;
  background: #2da4a8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffee-mug {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #3f2616;
  border-radius: 50%;
}
